#h2{
  text-align: center;
  width: 400PX;
  height: 1000x;
  top: 500px;
  background-color: aqua;
  margin: auto;
  position: absolute;
  animation: h2 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes h2 {
  from{
    left: 280px;
    top : 1100px;
  }to{
    left: 890px;
    top : 1100px;
  }
  
}
.maindiv{
  height: 1000px;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  border: 5px dashed black;
  margin: auto;
}
.row1{
  height: 1000px;
   width: 1000px;
   border: 2px rgb(16, 11, 11);
   display: grid;
   background-color: rgb(10, 10, 10);
   grid-template-columns:auto auto auto auto auto auto auto auto;
}
.row1 div{
   padding: 10px;
   font-size: 70px;
   border: 1px black;
   color: white;
}

.c1{
   background-color: white
}
